@navbar-color: #009688; 
.bottom-navbar {
	height:	60px;
	width: 100%;
	background-color: @navbar-color; 
}

img {
    width: 40px;
    padding: 10px;
}

.more-options {
	height: 100%;
	width: 60%;
	background-color: red;
}