<div class="home-wrapper">
	<div class="mobile">
	    <input type="text" name="" matInput>
		<div class="location-wrapper" *ngFor="let location of searchData; index as i; trackBy: trackByFn" (click)="locationSelected(location);">
			<h4>{{location.name}}</h4> <h4 class="price">$ {{location.price}}</h4>
			<div>
				<div class="description">{{location.description}}</div>
				<div class="province">{{location.province}}&nbsp;{{location.distance}}</div>
			</div>
		</div>
		<div class="show-tickets" (click)="showTickets()">Tickets</div>
	</div>
	<div class="web">
		<input type="text" name="" matInput placeholder="search your favorite destination" [(ngModel)]="searchInput"> 
		<button (click)="searchLocations()">Search</button>
		<br>
		<div class="web-location-wrapper" *ngFor="let location of searchData; index as i; trackBy: trackByFn" (click)="locationSelected(location);">
			<img [src]="location.url">
			<div class="location-wrapper">
				<h4>{{location.name}}</h4> <h4 class="price">$ {{location.price}}</h4>
				<div>
					<div class="description">{{location.description}}</div>
					<div class="province">{{location.province}}&nbsp;{{location.distance}}</div>
				</div>
			</div>
		</div>
	</div>
</div>


